body {
  color: white;
  background-color: #121116;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

code {
  /* background-color: lightblue; */
  /* color: black; */
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
/* a:hover {
  background-color: var(--darkMaincolor);
  color: black;
} */

.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}

.tags a {
  color: paleturquoise;
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: plum;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: plum;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
