/* global.css */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
html {
  font: 100%/1.75 "Merriweather", "Georgia", serif;
}
body {
  --bg: #121116;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: yellow;
  --textLink: yellow;
  --block: rgba(255, 255, 255, 0.63);
  --hr: hsla(0, 0%, 100%, 0.2);
  --link: #121116;
  --date: silver;
  --ttr: teal;
  --hovercolor: #50fa7b;
  --headingcol: #50fa7b;
  background-color: var(--bg);
  --callout: #42b983;
  transition: background 0.2s ease-out;
  --calbdcol: #50fa7b;
  --selection: crimson;
  --gh: dodgerblue;
  --gh-bx: black;
  --inlineCode-text: rgb(173, 219, 103);
}
.desc {
  font-family: "Fira Sans", sans-serif;
  font-size: large;
  margin-bottom: 2rem;
  display: flex;
}
.desc a {
  color: var(--textLink);
  text-decoration: none;
}
.desc strong {
  color: hotpink;
}
.content {
  font-family: "Fira Sans", sans-serif;
  font-size: large;
  max-width: 61.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.625rem 1.3125rem;
}
section a:hover {
  background-color: var(--hovercolor);
  color: var(--link);
}

blockquote {
  border-color: rebeccapurple;
  color: var(--textNormal);
  border-left: 0.32813rem solid rebeccapurple;
  margin-left: -1.75rem;
  padding-left: 1.42188rem;
  font-style: italic;
}
hr {
  border: 3px solid rebeccapurple;
  margin-bottom: calc(1.75rem - 1px);
}
.bio {
  font-family: "Fira Sans", sans-serif;
  font-size: medium;
}
img {
  display: block;
  margin: 0 auto;
}
h2,
h3,
h4,
h5 {
  letter-spacing: -0.015em;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
}
.callout {
  color: #cdd6f4;
  background: #1e1e2e;
  padding: 1.5em 1.25em;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #a6e3a1;
  border-left-color: #a6e3a1;
  border-left-width: 6px;
  border-left-style: solid;
}
.callout-inner {
  font-style: italic;
  margin-left: 1em;
}
.callout a {
  color: blue;
}
.callout a:hover {
  background: greenyellow;
}

@media (max-width: 767px) {
  .callout {
    padding: 1.5em 0.75em 1.5em 0.6em;
  }
  .callout-inner {
    margin-left: 0.5em;
  }
}

div .callout::before {
  color: red;
  content: attr(emoji);
}
.new-label {
  color: #50fa7b;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: dodgerblue;
}
.main {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
.main h1 {
  font-size: 4rem;
  line-height: 4.375rem;
  margin-bottom: 2.625rem;
  margin-top: 0px;
}
.main a {
  box-shadow: none;
  text-decoration: none;
  color: tomato;
}
.main a:hover {
  color: tomato;
}
.head a:hover {
  color: red;
  background-color: var(--hovercolor);
}

article a {
  box-shadow: 0 1px 0 0 currentColor;
  color: var(--textLink);
  text-decoration: none;
}
footer a {
  color: plum;
  text-decoration: none;
}
.list-item a {
  box-shadow: 0 1px 0 0 currentColor;
  color: paleturquoise;
  text-decoration: none;
}
.list-item h3 a:hover {
  background-color: var(--bg);
}
.meta {
  color: #999;
  letter-spacing: -0.5px;
}
.single_header a {
  box-shadow: none;
  text-decoration: none;
  color: tomato;
}
.single_header a:hover {
  color: tomato;
}
.single_header h3 {
  font-family: Montserrat, sans-serif;
  line-height: 1.1;
  margin-top: unset;
}
figcaption {
  text-align: center;
}
